@model CleanArchitecture.Application.ViewModels.CourseViewModel

<div class="container body-content">
    <div class="row course-content">
        @foreach (var course in Model.Courses)
        {
            <div style="display:inline-block;">

                <div class="course-image-container">
                    <div class="course-image" style="background-image:url(@course.ImageUrl)"></div>
                </div>

                <div style="text-align:center;">@course.Name</div>
            </div>
        }
    </div>
</div>